hr.hline_color {
   background:#e7e7e7;
   height:2px;
}

h1.title{
  margin-bottom: 1.5em;
}

h2{
  margin-top: 1em;
  padding-bottom: 1em;
}

h2::before {
   font-family: FontAwesome;
   content: "\f0da  ";
}
