tmp/

# current posts are built by Travis
content/post/current/2020/**/*.pdf
content/post/current/**/*.html
content/post/current/*.html
# old post are not
content/post/archived/*/*.Rmd
content/post/archived/*.Rmd
content/post/archived/*/*.Rmarkdown
content/post/archived/*/*.rds
content/post/archived/**/shpfile
content/post/archived/**/downloaded_predictors
content/post/archived/**/Gadus
*.docx
*.odt


# tips/tuto
content/tuto/**/*.html
content/tips/*/*.html
static/tips
static/rmarkdown-libs
static/post/current

# large files
**/rInSpace/rinspace_import/data/
**/rInSpace/rinspace_basicmapping/data/
**/rInSpace/rinspace_geomanip/data/
**/rInSpace/rinspace_custommaps/data/
**/rInSpace/rinspace_custommaps/wc10/

#
.DS_Store
public/



# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
