{{ define "main" }}
<main>
  {{ partial "page-hero.html" . }}

  {{ $services := sort (index .Site.Data .Lang "services" "services") "weigth" }}

  {{ range $i, $svc := $services }}
  {{ $even := eq (mod $i 2) 0 }}
  <section class="section services-section{{ if $even }} services-section-alt{{ end }}">
    <div class="container py-6">
      <section class="columns is-vcentered{{ if $even }} is-flex-direction-row-reverse{{ end }}">
        <div class="column is-6 pb-6">
          <figure class="image">
            <img src="{{ $svc.img | absURL }}" alt="{{ $svc.title | plainify }}">
          </figure>
        </div>
        <div class="column is-6 {{ if not $even }} has-text-right {{ else }} has-text-left {{ end }}">
          <h2 class="title is-4" id="{{ $svc.anchor }}">{{ $svc.title | markdownify }}</h2>
          <div class="content">
              {{ $svc.description | markdownify }}
              <br>
              <a href="{{ relLangURL $svc.url}}">
                <b>{{ $svc.cta | markdownify }}</b>
              </a>
          </div>
        </div>
      </section>
    </div>
  </section>
  {{ end }}
</main>
{{ end }}
