{{ partial "header" . }}

<img class="full-width" width="100%" src="/img/banner4.png"></img>


<div class="row">

    <div class="col-md-3">
        {{ partial "sidebar-toc" . }}
    </div>


    <div class="col-md-8">

        <div class="post-content">

            <h1>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>

            <h4>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
            </h4>

            <p>
                <i class="fas fa-tags" aria-hidden="true"></i> &nbsp; {{ range .Params.tags }} <a
                    href="/tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}
                <br>
                {{ if .Params.rpkgs }}
                    <img src="/img/Rlogo.svg" title="List of R packages required for this post." width="80px"></img>
                    &nbsp; 
                    {{ range .Params.rpkgs }} 
                        <a href="/rpkgs/{{ . | urlize }}">
                            <kbd class="item-tag2">{{ . }}</kbd>
                        </a> 
                    {{ end}}
                {{ end }}
            </p>

            {{ if .Params.author }}
            <p style="font-size: 1.6em;"> 
                <i class="fas fa-pencil-alt"></i>
                {{ $lauth := index (.Params.author) (sub (len .Params.author) 1) }}
                {{ range $auth := .Params.author }} 
                    {{ $info := index $.Site.Data.authors $auth }}
                    <a href="/about/">{{ $info.given_name }} {{ $info.family_name }}</a>{{ if eq $lauth $auth }}{{ else}},{{end}}
                {{ end }}
                <a href="#"></a>
            </p>
            {{ end }}

            {{ if .Params.reviewer }}
            <p> 
                <i class="fas fa-check-square" title="Reviewer(s)"></i>
                {{ $lrev := index (.Params.reviewer) (sub (len .Params.reviewer) 1) }}
                {{ range $rev := .Params.reviewer }} 
                    {{ $info := index $.Site.Data.authors $rev }}
                    <a href="/about/">{{ $info.given_name }} {{ $info.family_name }}</a>{{ if eq $lrev $rev }}{{ else}},{{end}}
                {{ end }}
                <a href="#"></a>
            </p>
            {{ end }}

            <p>
                {{ if .Params.draft }}
                    <img src='{{ (print "https://img.shields.io/static/v1?style=flat&label=inSileco&message=inDevelopment&color=c7254e&logo="  $.Site.Data.logos.inSileco.code64) | safeURL }}'>
                {{ end }}
                {{ if .Params.review }}
                    <img src='{{ (print "https://img.shields.io/static/v1?style=flat&label=inSileco&message=underReview&color=8555b4&logo="  $.Site.Data.logos.inSileco.code64) | safeURL }}'>
                {{ end }}
                {{ with .Params.estime }}
                    <img src='{{ (print "https://img.shields.io/static/v1?style=flat&label=reading time&message=" . "min&color=3fb3b2&logo="  $.Site.Data.logos.clock.code64) | safeURL }}'>
                {{ end }}
                <!-- http://www.R-bloggers.com -->
                {{ if .Params.rbloggers }}
                    <a href="http://www.R-bloggers.com">
                        <img src="https://img.shields.io/static/v1?style=flat&label=shared on&message=R-bloggers&logo=rss&color=6d4f5b">
                    <a>
                {{ end }}
                <!-- license -->
                {{ with .Params.licence }}
                    <a href="{{ .url }}">
                        <img src="https://img.shields.io/static/v1?style=flat&label=license&message={{ .name }}&logo=creative-commons">
                    <a>
                {{ else }}
                    <a href="https://creativecommons.org/licenses/by/4.0/">
                        <img src="https://img.shields.io/static/v1?style=flat&label=license&message=CC-BY-4.0&color=f76f2b&logo=creative-commons">
                    </a>
                {{ end }}
                <!-- archived -->
                {{ with .Params.archived }}
                    <a href="https://github.com/inSileco/inSileco.github.io/wiki/Posts#archiving-a-posts">
                        <img src="https://img.shields.io/static/v1?style=flat&label=archived&message={{ . }}&logo=internet-archive&color=6d4f5b">
                    </a>
                {{ end }}
                {{/*  twitter  */}}
                &nbsp;&nbsp;
                <a href="http://twitter.com/share?url={{ .Permalink | absURL }}&text={{ .Params.tweet }}" target="_blank">
                    <img src='https://img.shields.io/twitter/url?style=social&url={{ .Permalink | absLangURL }}?link=http://left&link=http://right}'>
                </a>
            </p>


            <div id="post-content-body" class="text-justify">

                {{ .Content }}

                {{ if .Params.edits }}
                    <div class="edits" style="margin-top: 2em; margin-bottom: 1em;">
                        <h4><b><i class="fas fa-edit" aria-hidden="true"></i> Edits</b></h4>
                        <p style="font-size: 1.5rem">
                            {{ range .Params.edits }}
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i> {{ dateFormat "Jan 2, 2006" .date }} -- {{
                            .comment }} <br>
                            {{ end }}
                        </p>
                    </div>
                {{ end }}


            </div>


        </div>

        {{ partial "bottom" . }}

    </div>

</div>

{{ partial "footer.html" . }}