{{ partial "header" . }}

<img class="full-width" width="100%" src="/img/banner2.png"></img>

<div class="container">

  <div class="text-justify">{{ .Content }}</div>

  {{ range .Site.Data.authors }}
  <div class="col-sm-6 text-left" style="padding:10px;marging:10px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4 text-right">
          <img src="https://github.com/{{ .github }}.png" width="100%" class="img-rounded" alt="">
        </div>
        <div class="col-sm-8">
          <h4 style="font-weight:bold;"> {{ .given_name }} {{ .family_name }} </h4>
          <p> {{ .description | markdownify }}</p>
          <!-- <h5 style="font-weight:bold;">Research project:</h5> -->
          <!-- <p class="text-justify"> {{ .project }}</p> -->
          <h5 style="font-weight:bold;">
            {{ if .github}} <a href="https://github.com/{{ .github }}"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> {{ end }}
            {{ if .twitter}} <a href="https://twitter.com/{{ .twitter }}"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a> {{ end }}
            {{ if .website}} <a href="{{ .website }}"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a> {{ end }}
            {{ if .orcid}} <a href="http://orcid.org/{{ .orcid }}"><i class="ai ai-orcid ai-2x" aria-hidden="true"></i></a> {{ end }}
            {{ if .researchgate}} <a href="https://www.researchgate.net/profile/{{ .researchgate }}"><i class="ai ai-researchgate ai-2x"></i></a> {{ end }}
            {{ if .gscholar}} <a href="{{ .gscholar }}"><i class="ai ai-google-scholar ai-2x" aria-hidden="true"></i></a> {{ end }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

</div>

<!--
researchgate: Kevin_Cazelles
website: http://kevincazelles.fr
orcid: 0000-0001-6619-9874
gscholar: https://scholar.google.co.uk/citations?user=xzvcu7cAAAAJ&hl=fr
 -->

{{ partial "footer.html" . }}
