{{ partial "header" . }}

{{ partial "banner" . }}

<main>

    <h2>{{ .Title }}</h2>

    {{ range (.Paginator 12).Pages }} {{ partial "list-item" . }} {{ end }}

</main>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

    <div class="pages">

        {{ if .Paginator.HasPrev }}
            <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
                <i class="fas fa-arrow-circle-left fa-4x"></i>
            </a>

        {{ end }}

        {{ if .Paginator.HasNext }}
            <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
                <i class="fas fa-arrow-circle-right fa-4x"></i>
            </a>
        {{ end }}

    </div>

{{ end }}

{{ partial "footer_center" . }}
