{{ partial "header" . }}


<img class="full-width" width="100%" src="/img/banner4.png"></img>


<div>

  <div class="col-md-3">
      <div class="hidden-sm hidden-xs">
        <div class="sticky-top">
        <div id="toc"></div>
        <script>
          var $jq = jQuery.noConflict();

            $jq(function() {

                var toc = $jq("#toc").tocify({
                  selectors: "h2, h3",
                  scrollTo: 50
                }).data("toc-tocify");

                prettyPrint();
                $jq(".optionName").popover({ trigger: "hover" });

            });
        </script>
      </div>
  </div>
</div>




  <div class="col-md-8">

    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

    <h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>

    <p> <i class="fa fa-tags" aria-hidden="true"></i> &nbsp; {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}</p>

    {{ if .Params.rpkgs }}
    <p> <img src = "/img/Rlogo.svg", width=25></img> &nbsp; {{ range .Params.rpkgs }} <a href="/rpkgs/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}</p>
    {{ end }}


    {{ if .Params.author }}
      <p style = "font-size: 1.6em; margin-top: 20px"> <i class="fa fa-pencil" aria-hidden="true"></i>
      {{ range $auth := .Params.author }} {{ $info := index $.Site.Data.authors $auth }}
        <a href="/about/">{{ $info.given_name }} {{ $info.family_name }} &nbsp;
      {{ end }}
    </a> <a href="#"></a></p>
    {{ end }}


    {{ if .Params.reviewer }}
      <p> <i class="fa fa-check-square" aria-hidden="true"></i>
      {{ range $rev := .Params.reviewer }} {{ $info := index $.Site.Data.authors $rev }}
      <a href="/about/">{{ $info.given_name }} {{ $info.family_name }}</a></p>
      {{ end }}
    {{ end }}

    {{ with .Params.estime }} <i class="fa fa-clock-o" aria-hidden="true"></i> {{ . }}min {{ end }}


    <p> <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="true" data-text="{{ .Params.tweet }}">Tweet</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>


    <div class="text-justify">
      <p>
      {{ if .Params.edits }}
        {{ range .Params.edits }}
          <i class="fa fa-edit" aria-hidden="true"></i> {{ dateFormat "Jan 2, 2006" .date }} -- {{ .comment }} <br>
        {{ end }}
      {{ end }}
      </p>
    </div>




    <br>

    <div class="text-justify">

      {{ .Content }}


    {{ if .Params.navposts }}

    <center>

      <br><br>

      {{ if .Params.navposts.prev }}
        <a href = "{{ ref . .Params.navposts.prev }}"><i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i></a>
      {{ else }}
      &nbsp;&nbsp;
      {{ end }}

      &nbsp;&nbsp;
      {{ if .Params.navposts.home }}
        <a href = "{{ ref . .Params.navposts.home }}"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
      {{ else }}
        &nbsp;&nbsp;
      {{ end }}

      &nbsp;&nbsp;
      {{ if .Params.navposts.next }}
        <a href = "{{ ref . .Params.navposts.next }}"><i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i></a>
      {{ end }}
    {{ end }}

    </center>

    </div>





    <br><br>

    <h3 class="page-header">Comments on this post</h3>

    <div id="disqus_thread"></div>

    <!-- related posts with the same tags -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}
      <h3 class="page-header">Related posts</h3>
      {{ range $related }} {{ partial "list-item" . }} {{ end }}
    {{ end }}


    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

      var disqus_config = function() {
        this.page.url = "https://insileco.github.io" + {{ .Permalink }}; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{ .Title }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://insileco.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
</div>

{{ partial "footer.html" . }}
