hr.hline_color {
   background:#e7e7e7;
   height:1px;
}

h1.title{
  padding-bottom: .4em;
  margin-bottom: .25em;
}


h2::before {
   font-family: FontAwesome;
   content: "\f0da  ";
}

h4.date {
  font-size: 14px;
}

h4.date::before {
  content: "first posted on ";
}

h4.author::before {
   content: "by ";
}

h4.big {  font-size: 1.5em; }


.main-container {
  margin-bottom: -77px;
}


.footer{
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  background-color: #f8f8f8;
  height: 77px;
  padding: 14px 10%;
  left: 0px;
  right: 0px;
  color: #777;
  min-width: 100%
}


.flag-icon:hover, .flag-icon:focus {
  cursor: pointer;
}
