<div id="approach" class="columns is-multiline is-vcentered is-narrow content mx-6-tablet my-6">
    {{ $appr := index .Site.Data .Site.Language.Lang "home" "approach" }}
    {{ with $appr }}
    <div class="column is-full has-text-centered content-text">
        <h1>{{ .title }}</h1>
    </div>

    <div class="column is-6 is-offset-3 has-text-centered hero-cta">
        <p class="mb-4">{{ .step1.description | safeHTML }}</p>
        <a class="button is-primary" href='{{ relLangURL "/contact/" }}'>
            {{ $.Site.Params.button.contact }}
        </a>
    </div>

    {{ end }}

</div>
