  <br>


  <!-- MATHJAX -->
  <script src="//yihui.name/js/math-code.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <!-- <script async src="//yihui.name/js/center-img.js"></script> -->
  <!-- MathJax see https://docs.mathjax.org/en/latest/start.html -->


  <h3 class="page-header">Comments on this post</h3>

  <script src="https://utteranc.es/client.js"
        repo="inSileco/inSileco.github.io"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>



  <!-- related posts with the same tags -->
  {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

  {{ if $related }}
    <h3 class="page-header">Related posts</h3>
    {{ range $related }} {{ partial "list-item-bottom" . }} {{ end }}
  {{ end }}


  <!-- custom js -->
{{ range .Site.Params.js }}
<script type="text/javascript" src="{{ . | absURL }}"></script>
{{ end }}






</div>
