<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ .Title }}</title>


    {{ with .Site.Params.organization }}
    <meta name="institution" content="{{ . }}" />
    {{ end }}
    {{/*  {{ with .Params.tags }}
    <meta name="news_keywords" content="{{ . }}" />
    {{ end }}  */}}

    <!-- OG -->
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ $ogImage := "img/logo.png" | absURL }}
    {{ if and (in (slice "blog" "events") .Section) .Params.featured_image }}
    {{ with .Resources.GetMatch .Params.featured_image }}
    {{ $ogImage = .Permalink }}
    {{ end }}
    {{ end }}
    <meta property="og:image" content="{{ $ogImage }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ if .IsPage }}
    {{ with .Title }}
    <meta property="og:title" content="{{ . }}" />
    {{ end }}
    {{ end }}
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex,nofollow" />
    {{ end }}
    
   <!-- load bulma css compiled with our customizations from scss -->
    {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "assets/scss")) }}
    {{ with $bulma := resources.Get "scss/main.scss" | toCSS $cssOpts }}
        <style> {{ .Content | safeCSS }} </style>
    {{ end }}

    {{- $cssFiles := resources.Match "css/*.css" }}
    {{- $bundled := $cssFiles | resources.Concat "css/bundled.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundled.RelPermalink }}" integrity="{{ $bundled.Data.Integrity }}"
        crossorigin="anonymous">

    {{- $jsFiles := resources.Match "js/*.js" }}
    {{- $bundled := $jsFiles | resources.Concat "js/bundled.js" | minify | fingerprint }}
    <script src="{{ $bundled.RelPermalink }}" integrity="{{ $bundled.Data.Integrity }}" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    />

    <!-- Goat counter tracker -->
    <script data-goatcounter="https://insileco.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
</head>
