<div class="item-bottom">

  {{ if eq .Type "post" }}

  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</small>
  </h1>

  <p> <i class="fas fa-tags" aria-hidden="true"></i> {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}</p>

  {{ end }}



  {{ if eq .Type "wiki" }}

  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

  <h1>{{ range .Params.categories }} <a href="/categories/{{ . | urlize }}"><i class="fas fa-tag" aria-hidden="true"></i> {{ . }}</a> {{ end }}</h1>

  <p>{{ range .Params.tags }} <a href="/tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}</p>

  {{ end }}

</div>
