{{ range $.Site.Data.tutorials }}
  <div class="col-sm-6 text-left">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-12">
          <h3 style="font-weight:bold;display:inline;"> {{ .name }} </h3>
          <h4 style="font-weight:bold;display:inline;"> &nbsp;-&nbsp; {{ .category }}</h4>
          <hr>
          <p> {{ .description }} </p>
          {{ if .github }}
            <a href="https://github.com/{{ .github }}" style="display:inline;"><i class="fa fa-2x fa-github" aria-hidden="true"></i>&nbsp;&nbsp;</a>
          {{ end }}
          {{ if .pres_html }}
            <a href="{{ .pres_html }}" style="display:inline;"><i class="fa fa-2x fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;</a>
          {{ end }}
          <h4 style="font-weight:bold;display:inline;"> &nbsp;-&nbsp; {{ .lang }}</h4>
          <p style="margin-top:10px;">
             {{ with .travis }} <a href="https://travis-ci.org/{{ .repo }}">
             <img alt = "Build Status"  src="https://travis-ci.org/{{ .repo }}.svg?branch={{ .branch }}"></img></a> {{ end }}
             {{ with .appveyor }} {{ . | markdownify }} {{ end }}
             {{ with .codecov }} {{ . | markdownify }} {{ end }}
             {{ with .zenodo }} {{ . | markdownify }} {{ end }}
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}
