<div class="item">

    {{ if eq .Type "post" }}

        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

        {{ range $auth := .Params.author }}
          {{ $info := index $.Site.Data.authors $auth }}
        <p>{{ $info.given_name }} {{ $info.family_name }} <a href="#"></a></p>
        {{ end }}

        <h5>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</h5>

        {{ range .Params.tags }} <kbd class="item-tag">{{ . }}</kbd> {{ end }}
    
    {{ end }}

</div>
