{{ partial "header" . }}

<img class="full-width" width="100%" src="img/banner2.png"></img>
  <div class="container">
  <div class="row">
  <div class="col-sm-4">
    <h3>Latest posts</h3>
    <h5><a href="/post/">View all</a></h5>
    <hr> {{ range first 3 .Site.Pages }} {{if eq .Type "post" }}
    <h4 style="font-weight:bolder;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <p>{{ .Date.Format "02 Jan, 2006" }}</p>
    <p style="font-size:small;"><i>{{ .Summary }}...</i> <a href="{{ .Permalink }}">Read More</a></p>
    <hr>
    {{ end }} {{ end }}
  </div>
  <div class="col-sm-4">
    <div class="text-justify">{{ .Content }}</div>
  </div>
  <div class="col-sm-4">
    <a class="twitter-timeline" href="https://twitter.com/{{ .Site.Params.twitterUsername }}" data-chrome="nofooter noborders hoheader"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  </div>
  </div>

{{ partial "footer" . }}
