{{ partial "header" . }}

{{ partial "banner" . }}

<div class="container">
  <div class="row">

  <div class="col-md-6">
    <h3>Latest posts</h3>
    <h5><a href="/post/">View all</a></h5>
    <hr> 
    {{ range ( where site.RegularPages "Section" "post" | first 3 ) }}
      <h4 style="font-weight:bolder;">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h4>
      <p>{{ .Date.Format "02 Jan, 2006" }}</p>
      <p style="font-size:small;"><i>{{ .Summary }}...</i> <a href="{{ .Permalink }}">Read More</a></p>
      <hr>
    {{ end }}
  </div>

  <div class="col-md-6">
    <div class="text-justify">{{ .Content }}</div>
  </div>

  </div>
</div>

{{ partial "footer_center" . }}
