<section id="how-we-help" class="section home-help home-band-alt hero-cta">
    <div class="container">
        <h2 class="title is-3 has-text-centered home-band-text">{{ .Site.Params.help.title }}</h2>
        <div class="columns is-multiline">
            {{ range .Site.Params.help.item }}
                <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                    <a class="card home-help-card" href='{{ relLangURL .url }}' data-track="home_help_blog">
                        <div class="card-content">
                            <h3 class="title is-5">{{ .title }}</h3>
                            <p>{{ .subtitle }}</p>
                            <span class="home-help-link">
                                {{ lang.Translate "learn_more" . }} <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
        <div class="buttons is-centered mt-5 hero-cta">
            <a class="button is-primary " href='{{ relLangURL "/blog/" }}'>
                {{ lang.Translate "learn_more" . }}
            </a>
        </div>
    </div>
</section>
