{{ $featured := index .Site.Data .Site.Language.Lang "home" "portfolio_featured" "items" }}
<section id="portfolio-preview" class="section home-placeholder">
    <div class="container">
        <h2 class="title is-3 has-text-centered">{{ .Site.Params.portfolio.title }}</h2>
        <p class="has-text-centered">{{ .Site.Params.portfolio.subtitle }}</p>
        <div class="columns is-multiline portfolio-grid">
            {{ range $featured }}
                {{ $page := $.Site.GetPage (printf "/portfolio/%s" .) }}
                {{ if $page }}
                <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                    <a class="card portfolio-card" href="{{ $page.RelPermalink }}">
                        <div class="card-image">
                            <figure class="image is-3by2">
                                {{ $resource := $page.Resources.GetMatch "img/cover.png" }}
                                {{ if $resource }}
                                <img src="{{ $resource.RelPermalink }}" alt="{{ $page.Title }}">
                                {{ else }}
                                <img src="{{ .RelPermalink }}img/cover.png" alt="{{ $page.Title }}">
                                {{ end }}
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title is-5 mb-2">{{ $page.Title }}</h3>
                            <p class="mb-3">
                                {{ with $page.Params.summary }}
                                    {{ . | markdownify }}
                                {{ else }}
                                    {{ with $page.Params.description }}
                                        {{ . | markdownify | plainify | truncate 140 }}
                                    {{ else }}
                                        {{ $page.Summary | markdownify |plainify | truncate 140 }}
                                    {{ end }}
                                {{ end }}
                            </p>
                            <span class="portfolio-link">{{ $.Site.Params.portfolio.link }} <i class="fa-solid fa-arrow-right"></i></span>
                        </div>
                    </a>
                </div>
                {{ end }}
            {{ end }}
        </div>
        <div class="buttons is-centered mt-5 hero-cta">
            <a class="button is-primary" href='{{ relLangURL "/portfolio/" }}'>
                {{ lang.Translate "explore_portfolio" . }}
            </a>
        </div>
    </div>
</section>
