<h3>Disturbance Ecology Series</h3>

In an attempt to address my weaknesses and most importantly to finish my
thesis (!!), I decided to teach myself theoretical ecology in the context of
multiple disturbances, and since I learn by doing, I figured I would build a
post series focused on the subject. Of course I will not be doing this from
scratch and I need to give full credit to the book I am heavily relying on to
initiate this work,
<a href = "https://www.springer.com/gp/book/9780387898810">A Primer of Ecology with R</a>
by
<a href = "http://blogs.miamioh.edu/stevens-lab/">M. Henry H. Stevens</a>

<br><br>

Posts will begin with the most basic models and grow in complexity. The content
of these post is going to be quite straightforward. First, I will provide a
brief overview of the theory of the topic I working on. Then, I will provide
code to simulate an example of the theory. Then I will tinker around with
relevant variables to simulate disturbances on the populations or communities
that have been simulated. All models presented will be available as functions
in the
<a href = "https://github.com/inSileco/inSilecoMod"> <code>inSilecoMod</code> package</a>.

<br><br>

I truly hope you enjoy and that we get to learn something together along the way!

<br><br>
