<div class="tricksortips">
<b style="color:#3fb3b2; font-size:1.5em;">Trick or Tips <i class="fa fa-question-circle" aria-hidden="true"></i></b>
<p>Ever tumbled on a code chunk that made you say:
"<em>I should have known this f.<i class="fa fa-volume-off" aria-hidden="true"></i> piece of code long ago!</em>"
Chances are you have, frustratingly, just like we have, and on multiple occasions too.  In comes <b>Trick or Tips</b>!</p>

<p><b>Trick or Tips</b> is a series of blog posts that each
present 5 -- hopefully helpful -- coding tips for a specific programming
language. Posts should be short (<em>i.e.</em> no more than 5 lines of code,
max 80 characters per line, except when appropriate) and provide tips of
many kind: a function, a way of combining of functions, a single argument,
a note about the philosophy of the language and practical consequences,
tricks to improve the way you code, good practices, etc.</p>

<p>Note that while some tips might be obvious for careful documentation readers
(God bless them for their wisdom), we do our best to present what we find very
useful and underestimated. By the way, there are undoubtedly similar initiatives on the web (<em>e.g.</em>
<a href = "https://twitter.com/RLangTip">"One R Tip a Day" Twitter account</a>). Last, feel free to comment below tip ideas or a post of code tips of your own which we will be happy to incorporate to our next post.</p>

<p>Enjoy <i class="fa fa-smile-o"></i> and get ready to frustratingly appreciate our tips!</p>
</div>
